.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 16px;
}

h1 {
    color: white;
}

.pikachu {
    padding: 10px;
    border: 2px solid rgb(255, 196, 0);
    border-radius: 7px;
}
.pikachu:hover {
    background-color: rgba(255, 217, 0, 0.301);
    border: 2px dashed rgb(255, 196, 0);
}

.meowth {
    padding: 15px;
    border: 2px solid rgb(170, 168, 162);
    border-radius: 7px;
}
.meowth:hover {
    background-color: rgba(175, 174, 167, 0.301);
    border: 2px dashed rgb(170, 168, 162);
}

.psyduck {
    padding: 15px;
    border: 2px solid rgb(65, 195, 255);
    border-radius: 7px;
}
.psyduck:hover {
    background-color: rgba(91, 162, 255, 0.301);
    border: 2px dashed rgb(65, 195, 255);
}