.habitat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 150px;
}

h1 {
    color: white;
}

.pidgey {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 10px;
    border: 2px solid rgb(170, 168, 162);
    border-radius: 7px;
}
.pidgey:hover {
    background-color: rgba(175, 174, 167, 0.301);
    border: 2px dashed rgb(170, 168, 162);
}

.rattata {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 10px;
    border: 2px solid rgb(170, 168, 162);
    border-radius: 7px;
}
.rattata:hover {
    background-color: rgba(175, 174, 167, 0.301);
    border: 2px dashed rgb(170, 168, 162);
}

.spearow {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 10px;
    border: 2px solid rgb(170, 168, 162);
    border-radius: 7px;
}
.spearow:hover {
    background-color: rgba(175, 174, 167, 0.301);
    border: 2px dashed rgb(170, 168, 162);
}

.ekans {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 2px solid rgb(47, 87, 32);
    border-radius: 7px
}
.ekans:hover {
    background-color: rgba(50, 107, 57, 0.301);
    border: 2px dashed rgb(47, 87, 32);
}