.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

h1 {
    color: white;
}

.sentret {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    padding: 10px;
    border: 2px solid rgb(170, 168, 162);
    border-radius: 7px;
}
.sentret:hover {
    background-color: rgba(175, 174, 167, 0.301);
    border: 2px dashed rgb(170, 168, 162);
}

.ledyba {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    padding: 10px;
    border: 2px solid rgb(50, 160, 114);
    border-radius: 7px;
}
.ledyba:hover {
    background-color: rgba(32, 141, 99, 0.301);
    border: 2px dashed rgb(50, 160, 114);
}

.hoothoot {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: end;
    padding: 10px;
    border: 2px solid rgb(170, 168, 162);
    border-radius: 7px;
}
.hoothoot:hover {
    background-color: rgba(175, 174, 167, 0.301);
    border: 2px dashed rgb(170, 168, 162);
}

.spinarak {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    justify-self: end;
    padding: 10px;
    border: 2px solid rgb(50, 160, 114);
    border-radius: 7px;
}
.spinarak:hover {
    background-color: rgba(32, 141, 99, 0.301);
    border: 2px dashed rgb(50, 160, 114);
}